@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-blood: #fa4351;
  --color-blackCustom: #1d2129;
  --color-whiteCustom: #f8f8ff;
  --color-blackDarker: #14171d;
  --color-grayCustom: #7e8088;
}
