@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-blood: #fa4351;
  --color-blackCustom: #1d2129;
  --color-whiteCustom: #f8f8ff;
  --color-blackDarker: #14171d;
  --color-grayCustom: #7e8088;
}

@layer components {
  .button-custom {
    @apply py-2 px-6 bg-blood text-center text-whiteCustom transition duration-300 ease-in-out hover:opacity-80 rounded-full font-semibold font-montserrat;
  }
}
