@import "tailwindcss";

@plugin "daisyui" {
  themes: false;
}

@theme {
  --font-poppins: "Poppins", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-montserrat: "Montserrat", sans-serif;
  --color-blood: #c51d34;
  --color-blackCustom: #1d2129;
  --color-whiteCustom: #f5f5f5;
  --color-blackDarker: #2e2e30;
  --color-grayCustom: #808080;
}

@layer components {
  .button-custom {
    @apply px-6 py-3 text-base sm:px-8 sm:py-4 sm:text-lg lg:px-10 lg:py-5 lg:text-xl bg-blood text-whiteCustom transition duration-300 ease-in-out hover:opacity-80 rounded-full font-semibold font-montserrat self-center text-center lg:self-start;
  }

  .feature-cta {
    @apply px-6 py-3 text-base sm:px-8 sm:py-4 sm:text-lg lg:px-10 lg:py-5 lg:text-xl border-blood bg-blackDarker text-center text-whiteCustom transition duration-300 ease-in-out hover:opacity-80 rounded-full font-semibold font-montserrat border-b;
  }

  .section-title {
    @apply font-poppins font-bold text-3xl md:text-4xl lg:text-5xl text-blackCustom;
  }

  .section-subtitle {
    @apply font-montserrat font-normal text-xl text-whiteCustom;
  }

  .section-subheading {
    @apply font-montserrat text-base text-whiteCustom font-normal;
  }

  .center-div {
    @apply flex items-start justify-center;
  }

  .header-hover {
    @apply absolute left-0 bottom-0 w-full h-0.5 bg-whiteCustom scale-x-0 group-hover:scale-x-100 transition-transform duration-300 origin-left;
  }

  .footer-heading {
    @apply font-montserrat font-bold text-2xl text-blood;
  }

  .footer-subheading {
    @apply font-inter font-normal text-whiteCustom text-base;
  }

  .responsive-header {
    @apply font-poppins font-bold text-2xl md:text-3xl lg:text-4xl xl:text-5xl;
  }

  .techstack-icons img {
    height: 2rem;
    width: 2rem;
  }

  .trending-img {
    @apply w-full object-contain sm:object-cover rounded-lg;
  }

  .swiper-pagination-bullet {
    background-color: var(--color-blood) !important;
  }

  .swiper-button-prev::after,
  .swiper-button-next::after {
    color: var(--color-blood) !important;
  }

  .custom-radial {
    background: radial-gradient(
      circle,
      var(--color-blackCustom) 0%,
      #171a21 30%,
      /* Midway dark transition */ var(--color-blackDarker) 60%,
      #0d0f14 100% /* Even darker end */
    );
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }

  @keyframes ellipsis {
    0% {
      content: ".";
    }

    33% {
      content: "..";
    }

    66% {
      content: "...";
    }
  }

  .dots::after {
    content: "...";
    display: inline-block;
    animation: ellipsis 1.5s infinite steps(3);
  }
}
